Source: node-restore
Section: web
Priority: extra
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Markus Sabadello <markus@projectdanube.org>
Build-Depends:
 debhelper (>= 8)
 , dh-apache2
 , dh-buildinfo
 , dh-systemd
 , nodejs
Standards-Version: 3.9.6
Homepage: http://github.com/jcoglan/restore
Vcs-Git: git://anonscm.debian.org/pkg-javascript/node-restore.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-javascript/node-restore.git
XS-Testsuite: autopkgtest

Package: node-restore
Architecture: all
Depends:
 ${misc:Depends}
 , adduser
 , nodejs
 , libjs-ejs
 , node-ejs
 , node-mkdirp
 , node-redis (>= 0.8.2)
 , node-async
 , node-lockfile
Recommends: ${misc:Recommends}
Description: Simple remoteStorage server
 reStore remoteStorage server written in Node.js. remoteStorage is a
 protocol for storing data at a storage provider of user's choice or
 user's own storage server while using compatible applications on the
 web.
 .
 reStore is designed to be compatible with the 0.6
 (RemoteStorage-2011.10) and 0.7 (RemoteStorage-2012.04,
 draft-dejong-00) versions of remoteStorage protocol.
 .
 Node.js is an event-based server-side JavaScript engine.
